<%- include("../layouts/user/header") %>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- preloader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>




    <!-- about start -->
    <section class="about-body mb-90">
        <div class="has-breadcrumb-bg mb-120" data-background="img/bg/3.jpg">
            <div class="breadcrumb-content d-flex justify-content-center align-items-center"
                style="flex-direction: column;">
                <h2 class="title">About Us</h2>
                <nav aria-label="breadcrumb" class="mb-40">
                    <ol class="breadcrumb p-0 m-0">
                        <li class="breadcrumb-item"><a href="home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container container-1430">
            <div class="store-desc">
                <div class="row">
                    <div class="col-xl-7 col-lg-6">
                        <div class="store-left-desc pr-130">
                            <div class="generic-title">
                                <strong class="red-color">Welcome to Mazia Store</strong>
                                <h2 class="mb-0">Our Success</h2>
                                <h2 class="mb-0">And Company History.</h2>
                            </div>
                            <div class="store-content mt-50">
                                <p class="simple-text mb-15-important">
                                    Donec vehicula cursus vestibulum lectus, sit eros integer varius cum turpis et quam
                                    congue nisl accumsan.
                                </p>
                                <p class="simple-text mb-15-important">Ac bibendum ac in erat. Donec posuere
                                    consectetuer volutpat rutrum ac, sollicitudin quam quisque, at interdum dignissim,
                                    fringilla elit risus lorem eu condimentum eros mollis. Nam liber tempor cum soluta
                                    nobis eleifend option congue nihil</p>
                                <p class="simple-text mb-15-important">doming id quod mazim placerat facer possim assum
                                    typi non habent claritatem insitam. Nam liber tempor cum soluta nobis eleifend
                                    option congue nihil. doming id quod mazim placerat facer possim assum typi non
                                    habent claritatem insitam…</p>
                                <div class="signature mt-30">
                                    <img src="img/logo/singg.png" class="d-block" alt="">
                                </div>
                                <div class="founder-name mt-35">
                                    <h5 class="mb-0"><span class="red-color">JOHN DOE</span> – Founder or Maria Store
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="store-banner">
                            <img src="img/banner/about1.jpg" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about end -->








  



<%- include("../layouts/user/footer") %>

