<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Loom Fashion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <link rel="stylesheet" href="/css/mystyle.css">
    <!-- Boxicons CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />


</head>

<body>
    <div class="container">
        <h4>Please enter your email we will send the OTP</h4>
        <% if (typeof message !=='undefined' ) { %>
            <h3>
                <%= message %>
            </h3>
            <% } %>

                <form  id="form" method="post">
                    <!-- New email input field -->
                    <div class="input-field">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                            required />

                        <div class="error-message" id="password_error"
                            style="color: rgb(117 35 35);display: none; font-weight: bold;"></div>

                    </div>

                    <div class="input-field">
                        <input type="password" name="confirm" class="form-control" id="confirm"
                            placeholder=" Conform password" required />

                        <div class="error-message" id="confirm_error"
                            style="color: rgb(117 35 35);display: none; font-weight: bold;"></div>
                    </div>

                    <div class="button-container">
                        <button type="submit" id="resetPassword">Reset</button>
                    </div>
                </form>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/userjs/forgetValidation.js"></script>


<script>
    const input = document.querySelectorAll('input')

    const password_message = document.getElementById('password_error');
    const Conform_message = document.getElementById('confirm_error');

    input.forEach(input => {
        input.addEventListener('input', function () {
            password_message.textContent = ""
            Conform_message.textContent = ""
        });
    });
</script>


</html>