<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Loom Fashion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <link rel="stylesheet" href="/css/mystyle.css">
    <!-- Boxicons CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h4>Please enter your email we will send the OTP</h4>
        <% if (typeof message !== 'undefined' ) { %>
        <h3><%= message %></h3>
        <% } %>

        <form id="form" >
            <div class="input-field">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" />
                <span class="error-message" id="password_error" style="color: rgb(117 35 35); display: none; font-weight: bold;"></span>
            </div>
            <div class="input-field">
                <input type="password" name="confirm" class="form-control" id="confirm" placeholder=" Confirm password" />
                <span class="error-message" id="confirm_error" style="color: rgb(117 35 35); display: none; font-weight: bold;"></span>
            </div>
            <div class="button-container">
                <button type="submit" id="resetPassword">Reset</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/userjs/forgetValidation.js"></script>

  
</body>

</html>
