<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/css/userOtp.css">
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    

    </header>


  <div class="container">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
    <h4>Enter OTP Code</h4>
    <p>Your code was sent to you via email</p>
    <form action="" method="post">
      <div class="input-field" id="otp">
        <input type="number" name="a" oninput="moveToNextInput(this)" maxlength="1" />
        <input type="number" name="b" disabled maxlength="1"/>
        <input type="number" name="c" disabled maxlength="1"/>
        <input type="number" name="d" disabled maxlength="1"/>
        <input type="number" name="e" disabled maxlength="1"/>
        <input type="number" name="f" disabled maxlength="1"/>
      </div>
      <% if(typeof message !=='undefined' ){ %>

        <h6 class="text-danger">
          <%= message %>
        </h6>

        <% } %>
        <div class="button-container">
          <!-- <button type="submit" style="pointer-events: none;">Verify OTP</button> -->
          <button type="submit">Verify OTP</button>
        </div>

    </form>
  </div>


  <script src="js/userOtp.js"></script>
</body>
</html>

  